GOOGLE_SHEET_ID=12zXd1oCQOdBhI88JWMrZ2req0c3XfFLJcVPXQ9CaKT8
LOGIN_SHEET_NAME=Base de dados
SHEET_AB1_NAME=Notas AB1
SHEET_AB2_NAME=Projeto AB2
SESSION_SECRET=troque-por-uma-chave-longa-e-aleatoria
COOKIE_SECURE=true
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
