GOOGLE_SHEET_ID=12zXd1oCQOdBhI88JWMrZ2req0c3XfFLJcVPXQ9CaKT8
LOGIN_SHEET_NAME=Base de dados
SHEET_AB1_PESQUISA=AT. 1
SHEET_AB1_ARTIGO=AT. 2
SHEET_AB1_LISTA=AT. 3
SHEET_AB1_PROVA=Notas AB1
SHEET_AB2_LISTA=AT. 4
SHEET_AB2_PROJETO=Projeto AB2
SESSION_SECRET=troque-esta-chave-local
COOKIE_SECURE=false
GOOGLE_SERVICE_ACCOUNT_FILE=spheric-radio-495913-q2-1fd5fc001597.json


# Em producao, prefira variavel da Vercel:
# COOKIE_SECURE=true
# GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
# ou GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=eyJ0eXBlIjoic2VydmljZV9hY2NvdW50Ii...
